rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      // Allow user to create their own document
      allow create: if request.auth.uid == userId;
      // Allow user to read and update their own document
      allow read, update: if request.auth.uid == userId;
    }
    
    match /transactions/{transactionId} {
      // Allow logged-in users to create transactions
      allow create: if request.auth != null;
      
      // Allow users to read their own transactions
      allow read: if request.auth.uid == resource.data.userId || get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
      
      // Allow admins to update all transactions
      allow update: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }
  }
}
